SPRING_PROFILES_ACTIVE=prod
SERVER_PORT={{ backend_service_port }}
AZURE_SQL_HOSTNAME={{ azure_sql_hostname }}
AZURE_SQL_DBNAME={{ azure_sql_dbname }}
AZURE_SQL_USER={{ backend_sql_username }}
AZURE_SQL_PASSWORD={{ backend_sql_password }}

