[Unit]
Description=Burger Builder backend
After=network.target

[Service]
Type=simple
User={{ backend_app_user }}
Group={{ backend_app_group }}
WorkingDirectory={{ backend_app_root }}
EnvironmentFile={{ backend_app_root }}/backend.env
ExecStart=/usr/bin/java -jar {{ backend_app_root }}/{{ backend_jar_name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

